<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @stickey_advertisement.category %>
</p>

<%= link_to 'Edit', edit_stickey_advertisement_path(@stickey_advertisement) %> |
<%= link_to 'Back', stickey_advertisements_path %>
