<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
							Tour Package (New Form)
							</div>
						</div>
						<div class="portlet-body form">
							<%= render 'form' %>
						</div>
</div>

