

<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
							Edit Records
							</div>
						</div>
						<div class="portlet-body form"><br/>
							<%= render 'form' %><br/>
						</div>
</div>